/* Home.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .home {
    background-image: url('https://cdn.theatlantic.com/thumbor/yzr779tnJFIst6qTNe7iWiBKYa4=/845x470:2635x1477/976x549/media/img/mt/2016/03/RTX283V4/original.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .welcomeMessage {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .introduction {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  